.error_404 {
    height: 100vh;
    width: 100%;
    background: linear-gradient(90deg, #705548, #a37b66); /* Gradiente marrón cálido */
    display: flex;
    justify-content: center;
    align-items: center;

    .card {
        background-color: #fbeee8; /* Beige cálido */
        padding: 6.5vh;
        border-radius: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            margin: 0;
            font-size: 120px;
            font-weight: bold;
            color: #5a3724; /* Marrón oscuro */
        }

        h3 {
            margin: 0;
            font-size: 24px;
            font-weight: lighter;
            color: #5a3724; /* Marrón oscuro */
        }

        h4 {
            margin: 0;
            padding-top: 2vh;
            font-size: 14px;
            font-weight: lighter;
            color: #5a3724; /* Marrón oscuro */
        }
    }
}
