.home-title-container {
  background-color: #f8e7d1; /* Beige cálido */
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.home-title {
  color: #5a3724; /* Marrón oscuro */
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.home-subtitle {
  color: #795548; /* Marrón intermedio */
  font-size: 1.2rem;
}

.button {
  text-decoration: none;
  padding: 12px 25px;
  font-size: 1.1rem;
  font-weight: bold;
  color: #fff;
  background-color: #ff7f50; /* Coral suave */
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
  background-color: #ff6a36; /* Coral más intenso */
  transform: translateY(-3px);
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background: rgba(0, 0, 0, 0.4) url("../assets/download.jpg") center/cover no-repeat;
}
