:root {
  font-family: "Montserrat", "Poppins", Avenir, Helvetica, Arial, sans-serif; /* Fuentes personalizadas */
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #212121; /* Texto oscuro para mayor legibilidad */
  background-color: #FFF8E8; /* Fondo claro */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 600;
  color: #FF5722; /* Giants orange */
  text-decoration: inherit;
  transition: color 0.3s ease;
}

a:hover {
  color: #FFC107; /* Amber */
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #FEEBE9; /* Fondo personalizado Lavender blush */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-weight: bold;
  color: #705548; /* Coffee */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  background-color: #705548; /* Coffee */
  color: #FFF8E8; /* Texto claro */
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  border-color: #FFC107; /* Amber */
  background-color: #FF5722; /* Giants orange */
  color: #FFF8E8; /* Texto claro */
}

button:focus,
button:focus-visible {
  outline: 4px auto #FFC107; /* Amber */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #212121; /* Eerie black */
    background-color: #FFF8E8; /* Fondo claro */
  }
  a:hover {
    color: #FF5722; /* Giants orange */
  }
  button {
    background-color: #FEEBE9; /* Lavender blush */
    color: #212121; /* Texto oscuro */
  }
}
