.ver-ingrediente-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .page-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #212121;
  }
  
  .search-form {
    margin-bottom: 30px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
    color: #795548;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .search-button {
    background-color: #FF5722;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .search-button:hover {
    background-color: #E64A19;
  }
  
  .ingrediente-details {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #FFF8E1;
  }
  
  .loading-message,
  .error-message {
    text-align: center;
    font-size: 1.2rem;
    color: #d32f2f;
  }
  